body {
	background-image: url("..pictures/clashofclans.jpg")
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	height: 100vh; 
}
#content {
	
}
#signup-form {
	
}
#signup-form h1 {
	
}
#signup-form div p {
	
}
form {
	
}
form label {
	
}
