body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh; 
  overflow-y: auto; 
}
#content {
  display: flex;
  margin: 20px;
  padding: 20px;
  border: 5px solid #000;
  width: 50%;
  height: 100%
}
#signup-form {
  display: flex;
  flex-direction: column; 
  padding: 2em;
  background-color: brown;
  width: 50%;
  height: 100%;
}
#signup-form h1 {
  text-align: center;
  margin-bottom: 1em;
  font-size: 2em;
  color: #333
}
#signup-form p {
  text-align: center;
  margin-bottom: 1.0em;
  font-size: 1.3em;
  color: black;
  line-height: 1.2;
}
form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
form label {
  padding: 0.8em;
  font-weight: bold;
  color: #fff;
  border-radious: 5px;
}
form input[type="submit"] {
  padding: 1em;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}
.image-container{
  background-image: url('../images/clashofclans.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

